/* Mobile*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #showcase h1 {
    font-size: 2.8rem;
  }
  #photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }
}

/*Mobile landscape*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #showcase h1 {
    font-size: 3rem;
  }
}

/*small tablets*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #showcase h1 {
    font-size: 3.3rem;
  }
  #photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}

/* small desktop large tablets*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  #showcase h1 {
    font-size: 3.6rem;
  }
}

/* standard desktop*/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  #showcase h1 {
    font-size: 3.9rem;
  }
}

/* large desktop */
@media only screen and (min-width: 1200px) {
  #showcase h1 {
    font-size: 4.1rem;
  }
}
