@media only screen and (max-width: 1024px) {
  h1 .small-head {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    display: none;
  }

  .nav {
    padding: 0;
    margin: 0;
  }

  #photo-gallery {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
