.logo-container {
    /* align children in the center */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    /* a circle with 60x60 pixels */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
  }

  .background,
.spinner {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* The button background layer */
.background {
    border-radius: 60%;
    background-image: linear-gradient(0deg, #0f1013, #252730);
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.6),
      0 4px 6px 1px rgba(0, 0, 0, 0.3),
      0 1px 2px 1px rgba(0, 0, 0, 0) inset,
      0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
  }

  .logo {
      
    z-index: 2;
  }

  .spinner {
    border-radius: 50%;
    border-top: 2px solid #f4ac45;
    /* glowing with shadow (30% of #ae34db) */
    box-shadow: 0 -5px 5px #f4ac454d;
  
    /* add spin animation */
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }