/*overall style and color */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #485853;
}

main {
  /* make sure to cover the screen */
  min-height: 100vh;

  /* need a solid bg to hide the footer */
  background: #485853;

  /* put on top */
  position: relative;
  z-index: 1;

  padding: 2rem;
}

/* title and nav bar */

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #443d3d;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 20;
}

ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

li {
  list-style: none;
  color: aliceblue;
}

a {
  text-decoration: none;
  padding: 0 25px;
  margin: 0 10px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.menu-wrap {
  display: none;
}
#showcase {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.fas {
  display: inline;
  margin-right: 5px;
}

.signature-color {
  color: #f4ac45;
}

.title {
  color: aliceblue;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  margin-left: 30px;
}

h1 {
  font-size: 29pt;
}

/* slide menu items */

.grow {
  display: block;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover {
  transform: scale(1.1);
  color: #f4ac45;
}
.about-content {
  position: relative;
  top: 5px;
}

/* content style */
.leadLetter {
  color: #f4ac45;
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 3px;
}

img {
  border: 1px black;
}

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: 0.25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.photo-gallery.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.center-photo img {
  display: flex;
  margin: auto;
}

#photo-gallery {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.photo-gallery {
  border: 0.5em solid #fff;
  border-bottom: 1.7em solid #fff;
  border-radius: 0.2em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 1.4em auto;
  opacity: 0;
  transform: translateY(3em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  max-width: 400px;
  width: 80%;
  will-change: transform, opacity;
}
article p {
  margin: auto;
  max-width: 75%;
  padding-bottom: 2px;
}

h2 {
  margin-left: 20px;
  padding: 10px 0 0 10px;
}

.sub-head {
  position: relative;
  top: 5px;
  margin: 2px;
  padding: 2px;
}

/* timeline */

.timeline-block {
  width: 80%;
  margin: auto;
}
.timeline {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.timeline-item {
  padding: 20px 64px;
  position: relative;
}
.timeline-item.has-image {
  padding-bottom: 40px;
}
.timeline-item.has-image.is-circle img {
  border-radius: 100%;
}
.timeline-item.has-image .timeline-counter {
  border: none;
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: 0;
  left: -85px;
}
.timeline-item.has-image .timeline-counter img {
  height: auto;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  max-width: 64px;
}
.timeline-item.has-image.is-circle .timeline-counter img {
  height: 64px;
  width: 64px;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.timeline-counter {
  border: 2px solid orange;
  height: 11px;
  width: 11px;
  position: absolute;
  top: 20px;
  left: 3px;
}
.timeline-counter.is-image {
  background-color: transparent;
}
.timeline-counter.is-circle {
  border-radius: 100%;
}
.timeline-counter.is-triangle {
  background-color: transparent;
  border: none;
  width: 0;
  height: 0;
  left: 4px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid orange;
}

.timeline-item:first-child .timeline-line {
  top: 25px;
}

.timeline-item:last-child .timeline-line {
  height: 25px;
}

.timeline-heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.timeline img {
  width: 50%;
}

/* Cat Carousel */
.owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 200px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
}
footer {
  /* place on the bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  background: #443d3d;
  display: grid;
  place-items: center;
  padding: 20px;
}

a:hover {
  color: #f4ac45;
}
